<html>
<head>
<title>Surf Conditions Reporter</title>
<link rel="icon" href="../static/icons/wave_icon.svg" type="image/x-icon">
<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<body onload="browseEntries()">

<!-- PAGE TITLE / TABLE NAME -->
 <div class="page-title">
  <h1>Surf Conditions Reporter Database</h1>
  <h2>Home</h2>
 </div>


<!-- NAV BAR -->
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/stations">Stations</a></li>
      <li><a href="/conditions">Conditions</a></li>
    </ul>
    <ul>
      <li><a href="/locations_stations">Locations-Stations</a></li>
      <li><a href="/users_locations">Users-Locations</a></li>
      <li><a href="/users_conditions">Users-Conditions</a></li>
      <li><a href="/stations_conditions">Stations-Conditions</a></li>
    </ul>
  </div>


<!-- SELECT USER REPORT -->
 <div class="select-user-menu">
  <form id="" action="/report" method="POST">

    <label for="user">Select User:</label>
    <select id="user_id" name="user_id">

    {% for user in users %}
      <option id="user_id" name="user_id" value="{{ user[user_id] }}">{{user['username']}}</option>
    {% endfor %}

    </select>
    <input type="submit" value="Get Report" name="Get_Report" class="accept-button">
  </form>
 </div>

</table>
<p>&nbsp;</p>
</div>


<script src="../static/scripts.js"></script>
</body>
</html>
