<html>
<head>
<title>Surf Conditions Reporter - {{table_name}}</title>
<link rel="icon" href="../static/icons/wave_icon.svg" type="image/x-icon">
<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<body onload="browseEntries()">

  
<!-- PAGE TITLE / TABLE NAME -->
 <div class="page-title">
  <h1>Surf Conditions Reporter Database</h1>
  <h2>{{table_name}}</h2>
 </div>


<!-- NAV BAR -->
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/stations">Stations</a></li>
      <li><a href="/conditions">Conditions</a></li>
    </ul>
    <ul>
      <li><a href="/locations_stations">Locations-Stations</a></li>
      <li><a href="/users_locations">Users-Locations</a></li>
      <li><a href="/users_conditions">Users-Conditions</a></li>
      <li><a href="/stations_conditions">Stations-Conditions</a></li>
    </ul>
  </div>




<!-- DISPLAY TABLE -->
{% if data %}
<div id="station_coverage" style="display: block;">
  <table border="1" cellpadding="5">

  <!-- TABLE HEADER -->
    <thead>
      <tr>
        {% if location_name %}
        <th colspan="3"><h2 style="color: #00FFFF;">{{location_name[0]['location_name']}}</h2></th>
        {% endif %}
        <th>
          {% if data %}
          <form action="" method='GET'>
              <label for="location_id">View Station Coverage:</label>
              <select id="location_id" name="location_id" onchange="this.form.action='/locations_stations/' + this.value; this.form.submit();">
                <option value="" disabled selected>Select Location</option>
                {% for item in data %}
                  <option value="{{item['location_id']}}">{{item['location_name']}}</option>
                {% endfor %}
              </select>
            </form>
        {% endif %}
        </th>
      </tr>
        <tr>
          {% if coverage %}
          {% for key, value in display_names.items() %}
          <th scope="col" data-field="{{ value }}" data-filter-control="input">{{ key }}</th>
        {% endfor %}
        </tr>
    </thead>
  
  <!-- TABLE VALUES -->
    <tbody>
      {% for item in coverage %}
        <tr>
          
          
          {% for key in item.keys() %}
            <td align="right">{{ item[key] }}</td>  
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
    {% endif %}

</table>
<p>&nbsp;</p>
</div>



<script >

  function showform(dowhat) {
    /*
    * four DIVS: browse, insert, update, delete
    * this function sets one visible the others not
    */
    if (dowhat == 'insert'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'update'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'block';
      document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'delete'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'block';
    }
    else if (dowhat == 'all'){
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'block';
      document.getElementById('delete').style.display = 'block';
    }
    else { //by default display browse
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
  }
  function newEntry() { showform('insert'); }
  function updateEntry(pid) { showform('update'); }

  function deleteEntry(itemId, itemName) { 
    if (confirm(`Are you sure you want to delete: ${itemName}?`)) {
      window.location.href = `/delete_{{obj_name}}/${itemId}`;
    }
  }

  function browseEntries() { showform ('browse'); }
  function showAll() { showform ('all'); }

</script>
</body>
</html>

